.btn {
	margin:0;
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	font-size: 13px;
	font-weight: 700;
	line-height: 20px;
	padding: 10px 20px;
	text-align: center;
	position: relative;
	background: #49a2df;
	display: inline-block;
	text-decoration: none;
	vertical-align: middle;
	background-image: none;
	touch-action: manipulation;
	@include border-radius(6px);
	@include transition(.3s);

	&:hover {
		color: #fff;
		background: #76beef;
		text-decoration: none;
	}

	&:active {
		top: 1px;
	}
}

.btn-large {
	width: 100%;
	font-size: 17px;
	font-weight: 400;
	padding: 15px 10px;
	text-transform: uppercase;
	font-family: $font-UniSansHeavy;
	border-bottom: 4px solid #106ca9;

	&:hover {
		background: #81c6f4;
		border-bottom-color: #65acdc;
	}
}

.btn-yellow {
	color: #202020;
	font-weight: 400;
	padding: 10px 10px;
	background: #e8cf00;
	text-transform: uppercase;
	font-family: $font-UniSansHeavy;


	&:hover {
		color: #202020;
		background: #ffe61a;
	}
}

.btn-yellow-large {
	width: 100%;
	font-size: 17px;
	padding: 15px 10px;
	border-bottom: 4px solid #c0a903;

	&:hover {
		color: #202020;
		background: #ffe61a;
		border-bottom-color: #ccb723;
	}

	&.fz12 {
		font-size: 12px;
	}
}