.form-control {
	margin: 0;
	width: 100%;
	outline: none;
	color: #595959;
	font-size: 13px;
	background: #fff;
	line-height: 21px;
	font-weight: 300;
	display: inline-block;
	border: 1px solid #9b9b9b;
	padding: 10px 10px 10px 10px;
	@include border-radius(4px);
	@include placeholder(#595959);

	&::-ms-clear {
		display: none;
		width: 0;
		height: 0;
	}

	&.form-name {
		padding-left: 50px;
		background: #fff url("../img/icon_user.png") 12px 50% no-repeat;
	}

	&.form-phone{
		padding-left: 50px;
		background: #fff url("../img/icon_phone.png") 12px 50% no-repeat;
	}

	&.form-email {
		padding-left: 50px;
		background: #fff url("../img/icon_email.png") 12px 50% no-repeat;
	}

	&:focus {
		@include placeholder(transparent);
	}
}
.red {

	.form-control {
		border-color: #ff0000;
	}
}


label {
	font-weight: 400;
	display: block;
}

.form-group {
	margin-bottom: 12px;
}

.form-block {
	width: 316px;
	padding: 20px;
	color: #1f1f1f;
	background: #fff;
	@include border-radius(4px);
}

.form__title {
	margin: 0 -10px;
	font-size: 20px;
	line-height: 20px;
	margin-bottom: 15px;
	text-align: center;
	font-family: $font-UniSansHeavy;
}

.form__text {
	color: #1c1c1b;
	margin: 0 -10px;
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	margin-bottom: 20px;
	text-align: center;
}

.form__valid {
	color: #abacad;
	font-size: 12px;
	font-weight: 300;
	line-height: 15px;
	text-align: center;
	margin-top: -5px;
	margin-bottom: 8px;
}

.form__sup {
	font-size: 11px;
	font-weight: 600;
	line-height: 16px;
	text-align: center;
}

.btn_close {
	top: -45px;
	right: -84px;
	width: 57px;
	height: 57px;
	cursor: pointer;
	position: absolute;
	background: url("../img/icon_close.png") 0 0 no-repeat;
}

.modal-service {
	padding-bottom: 25px;
}